/*Start Variables Style*/
:root {
    --main-color: #1c1c1c;
    --primary-color: #080808;
    --secondary-color: #FFB400;
    --third-color: #0169ec;
}
body {
    direction: ltr;
}
/* Start header */

/* Start About Us */
.about-us .box-card h3 i {
    margin-right: 10px;
}
/* Start Digital Agency */
.digital-agency .tab i {
    margin-right: 8px;
}
/* Start Our Customer */
.our-customer .slide-container .card.swiper-slide {
    margin-right: 53px !important;
}
/* Start Contact Us */
.contact-us .item-icon {
    margin-right: 18px;
}
.contact-us .contact-form .input-form label {
    position: absolute;
    top: 12px;
    left: 15px;
}
.contact-us .contact-form .input-form i {
    position: absolute;
    top: 50%;
    right: 22px;
}
.contact-us .contact-form .form-control:not(.btn-submit) {
    padding-left: 15px;
}
/* Start blog */
.blog .slide-container .item-readmore a i {
    margin-left: 4px;
}
.blog .slide-container .item-meta li:before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: rgba(0,0,0,.6);
    right: -17px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -khtml-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.blog-single-page .entry-meta:before {
    content: '';
    width: 40px;
    height: 3px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -1px;
    left: 0;
}
.blog-single-page .entry-meta li i {
    margin-right: 8px;
}
.blog-single-page .entry-meta li {
    margin-right: 32px;
}
.blog-single-page blockquote:before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
}
.blog-single-page .entry-footer label {
    margin-right: 18px;
}
.entry-navigation .nav-post-prev .nav-post-label i {
    margin-right: 4px;
}
.entry-navigation .nav-post-label:before {
    content: '';
    width: 0;
    -webkit-transition: .3s cubic-bezier(.24,.74,.58,1);
    -khtml-transition: .3s cubic-bezier(.24,.74,.58,1);
    -moz-transition: .3s cubic-bezier(.24,.74,.58,1);
    -ms-transition: .3s cubic-bezier(.24,.74,.58,1);
    -o-transition: .3s cubic-bezier(.24,.74,.58,1);
    transition: .3s cubic-bezier(.24,.74,.58,1);
    height: 1px;
    background-color: rgba(249,189,14,.67);
    position: absolute;
    bottom: 3px;
    left: 0;
}
.entry-navigation .nav-post-prev .nav-post-img {
    margin-right: 22px;
}
.blog-single-page .entry-social a+a {
    margin-left: 6px;
}
.comments-title:before, .comment-reply-title:before {
    content: '';
    width: 40px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
}
.comment-inner img.avatar {
    margin-right: 30px;
    float: left;
}
.comment-reply {
    position: absolute;
    top: 20px;
    right: 23px;
}
.primary-overlay, .single-post .entry-tags a:before, .widget span.count:before, .comment-reply a:before {
    content: '';
    background-color: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s cubic-bezier(.24,.74,.58,1);
    -khtml-transition: .3s cubic-bezier(.24,.74,.58,1);
    -moz-transition: .3s cubic-bezier(.24,.74,.58,1);
    -ms-transition: .3s cubic-bezier(.24,.74,.58,1);
    -o-transition: .3s cubic-bezier(.24,.74,.58,1);
    transition: .3s cubic-bezier(.24,.74,.58,1);
    z-index: -1;
}
.comment-reply a i {
    margin-left: 2px;
}
.comment-form-cookies-consent input, .comment-form-cookies-consent label:before, .comment-form-cookies-consent label:after {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 6px;
    cursor: pointer;
}
.widget_search .search-form .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #2d2d2d;
}
.widget .widget-title span:before {
    content: '';
    width: 40px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
}
#content .widget_product_categories ul li a:before, #content .widget_categories ul li a:before, #content .widget_nav_menu ul li a:before, #content .widget_pages ul li a:before, #content .widget_archive ul li a:before, #content .widget_meta ul li a:before, #content .widget_recent_entries ul li a:before {
    content: "\f104";
    font-family: caseicon;
    font-size: 10px;
    margin-right: 6px;
    font-weight: 400;
    position: absolute;
    left: 0;
    opacity: 0;
    -webkit-transition: .3s cubic-bezier(.24,.74,.58,1);
    -khtml-transition: .3s cubic-bezier(.24,.74,.58,1);
    -moz-transition: .3s cubic-bezier(.24,.74,.58,1);
    -ms-transition: .3s cubic-bezier(.24,.74,.58,1);
    -o-transition: .3s cubic-bezier(.24,.74,.58,1);
    transition: .3s cubic-bezier(.24,.74,.58,1);
}
#content .widget_product_categories ul li a .count, #content .widget_categories ul li a .count, #content .widget_nav_menu ul li a .count, #content .widget_pages ul li a .count, #content .widget_archive ul li a .count, #content .widget_meta ul li a .count, #content .widget_recent_entries ul li a .count {
    float: right;
}
.primary-overlay, .single-post .entry-tags a:before, .widget span.count:before, .comment-reply a:before {
    content: '';
    background-color: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s cubic-bezier(.24,.74,.58,1);
    -khtml-transition: .3s cubic-bezier(.24,.74,.58,1);
    -moz-transition: .3s cubic-bezier(.24,.74,.58,1);
    -ms-transition: .3s cubic-bezier(.24,.74,.58,1);
    -o-transition: .3s cubic-bezier(.24,.74,.58,1);
    transition: .3s cubic-bezier(.24,.74,.58,1);
    z-index: -1;
}
.widget_ct_recent_posts .entry-brief:before {
    content: '';
    background-color: #2d2d2d;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: -17px;
    width: calc(100% + 34px);
    width: -webkit-calc(100% + 34px);
}
.widget_ct_recent_posts .entry-media {
    margin-right: 10px;
}
.image-effect-white a:before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(left,#fff 0%,rgba(255,255,255,.3) 100%);
    background: -webkit-gradient(linear,left top,right top,from(#fff),to(rgba(255,255,255,.3)));
    background: linear-gradient(to right,#fff 0%,rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    -khtml-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -o-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.widget_ct_recent_posts .item-date i {
    margin-right: 4px;
}
.widget_media_gallery .gallery .gallery-item a:before, .elementor-widget-wp-widget-media_gallery .gallery .gallery-item a:before, .elementor-widget-image-gallery .gallery .gallery-item a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    -webkit-transition: all 250ms linear 0ms;
    -khtml-transition: all 250ms linear 0ms;
    -moz-transition: all 250ms linear 0ms;
    -ms-transition: all 250ms linear 0ms;
    -o-transition: all 250ms linear 0ms;
    transition: all 250ms linear 0ms;
    opacity: 0;
    z-index: 1;
}
.widget_media_gallery .gallery .gallery-item a:after, .gallery .gallery-item a:after {
    content: "\f12e";
    font-size: 14px;
    font-family: caseicon;
    color: rgba(255,255,255,.87);
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -khtml-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all 250ms linear 0ms;
    -khtml-transition: all 250ms linear 0ms;
    -moz-transition: all 250ms linear 0ms;
    -ms-transition: all 250ms linear 0ms;
    -o-transition: all 250ms linear 0ms;
    transition: all 250ms linear 0ms;
    opacity: 0;
}
.tagcloud a {
    margin-right: 2px;
}
.single-page-servcies .item--icon {
    margin-right: 15px;
}
.single-page-servcies .serv-box .item-meta .item-icon {
    margin-right: 20px;
}

.single-page-servcies .menu-services ul.nav-inner li a {
    padding: 13px 20px 13px 38px;
}
.single-page-servcies .menu-services ul.nav-inner li.current-menu-item>a, .single-page-servcies .menu-services ul.nav-inner li>a:hover {
    padding-left: 54px;
}
.single-page-servcies .menu-services li a:after {
    content: '';
    width: 4px;
    height: 0%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    -webkit-transition: .3s cubic-bezier(.24,.74,.58,1);
    -khtml-transition: .3s cubic-bezier(.24,.74,.58,1);
    -moz-transition: .3s cubic-bezier(.24,.74,.58,1);
    -ms-transition: .3s cubic-bezier(.24,.74,.58,1);
    -o-transition: .3s cubic-bezier(.24,.74,.58,1);
    transition: .3s cubic-bezier(.24,.74,.58,1);
    background-color: var(--secondary-color);
}
.single-page-servcies .menu-services li.current-menu-item>a span:before, .single-page-servcies .menu-services li>a:hover span:before {
    content: '-';
    margin-right: 4px;
}
/* Start Footer */
footer .top-footer .social-links li {
    margin-right: 7px;
}





